<html ng-app="print">
    <head>
        <title>Printing Items</title>
        <style type="text/css">
            @page{size: auto; margin: 0mm;}
            body{margin: 0px}  @media all { display: block; page-break-before: always; }
            img { max-width: 100% !important; max-height: 100% !important; }
            .landscape { width: 100%; height: auto; }
            .portrait {height: 100%;width: auto; }
        </style>
    </head>
    <body ng-controller="PrintCtrl">
        <img print-image ng-src="{{item.src}}" ng-class="item.orientation" ng-repeat="item in items" />
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script>
            angular.module('print', [])
                    .controller('PrintCtrl', ['$scope', '$q', function($scope, $q){
                        $scope.items = window.items;
                    }])
                    .directive('printImage', [function(){
                        return {
                            restrict: 'AC',
                            controller: ['$q', function($q){
                                this.loadImage = function(src){
                                    var deferred = $q.defer();
                                    var img = new Image();

                                    img.onload = function(){
                                        deferred.resolve(img);
                                    };
                                    img.src = src;

                                    return deferred.promise;
                                };
                            }],
                            link: function(scope, elm, attrs, Ctrl){
                                console.log(scope);
                                Ctrl.loadImage(scope.item.src).then(function(img){
                                    scope.item.orientation = img.width > img.height ? 'landscape' : 'portrait';
                                    if (scope.$last){
                                        var t = setTimeout(function(){
                                            window.focus(); window.print(); window.close();
                                            clearTimeout(t);
                                        }, 100);
                                    }
                                });
                            }
                        }
                    }])
        </script>
    </body>
</html>